# -------------------------------------------------------------------------------- #
# Settings                                                                         #
# -------------------------------------------------------------------------------- #
# These are settings that need to be loaded in order to dynamically calculate      #
# build information needed in order to generate, build and publish the containers. #
# -------------------------------------------------------------------------------- #

DOCKER_HUB_ORG='wolfsoftwareltd'
GHCR_USERNAME='tgwolf'
GHCR_ORGNAME='dockertoolbox'
CONTAINER_PREFIX='alpine-bash'
GITHUB_REPO='alpine-bash'
